body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    font-size: 28px;
    font-weight: 600;
}

.check {
    font-size: 30px;
    line-height: 1;
}

.brand {
    line-height: 1;
}

.top-header {
    display: flex;
    align-items: center;            /* vertically centered */
    justify-content: space-between;
    height: 72px;
    padding: 0px 20px;              /* slim height + horizontal padding */
    background: linear-gradient(90deg, rgb(37, 37, 95), #2b2b57);
    color: rgb(169, 163, 163);
    font-size: 22px; 
    padding-left: 70px;
    padding-right: 60px;
    position: sticky;
    top: 0;
}
.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a:not(.home) {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: text-decoration 0.3s;
}

.home {
    color: rgb(222, 99, 33);
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

.nav-links a:not(.home):hover {
    background-color: rgba(231, 167, 145, 0.2);
    text-decoration: underline;
}



.book-session button {
    background-color: rgb(180, 148, 5);
    color: rgb(255, 255, 255);

    width: 230px;
    height: 35px;


    font-size: 17px;  
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transition: 
        background-color 0.3s,
        color 0.3s,
        font-weight 0.3s,
        font-family 0.3s,
        font-size 0.3s;

    letter-spacing: 1.5px;
    word-spacing: 2px;
    border: none;
    border-radius: 999px;

    cursor: pointer;

    white-space: nowrap;
    overflow: visible;
}

.book-session button:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(37, 37, 95);
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;

}


/*body section*/
.mid-section{
    align-items: center; 
    display: flex;
    background-color: rgba(226, 115, 69,1);
    display: flex;
    align-items: center;            /* vertically centered */
    justify-content: center;
    padding: 20px;
    padding-bottom: 25px;
}


.studentpic{
    width: 300px;
    border-radius: 10px;
    border-color:rgb(37, 37, 95);
    border-style:solid;
    border-width: 5px;
    background-color: rgb(217, 217, 181);
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px;
    color: white;
}


.title-and-check-second-div{
    display: inline-block;
    text-align: center;
    font-size: 100px;
    margin-bottom: 10px;
}

.check-text{
    font-size: 25px;
    align-items: center;
}

.checkbig {
    font-size: 80px;
    line-height: 0.1;
    margin: 0;
}

.fluentlift {
    font-size: 90px;
    line-height: 1;
    margin: 0;
}

.booking-section{
    background-color: rgb(37, 37, 95);
    color: white;
    display: flex;
    flex-direction: column;

}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:25px;
}

.title-thirdsection{
    font-size: 32px;
   
}
.subtitle {
    font-size: 22px;
   
}

.textsection{
    background-color: rgb(37, 37, 95);
    display:grid;
    grid-template-columns: minmax(0,1fr) 720px;
    padding: 30px;
    color: white;
    gap: 25px;
    padding-left: 160px;
}

.text-leftside{
    display: inline-block;
    font-size: 23px;
    align-items: center;
}
.text-rightside {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.text-rightside2{
    display: inline;
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    width: 600px;
}
.textboxinfo {
    margin-top: 30px;
    align-items: center;
    width: 550px;
}

.userinput{
    font-size: 15px;

    border-radius: 20px;
    width: 250px;
    height: 25px;
    border:2px solid;
    background-color: white;
    border-color: white;
    transition: background-color: 0.3s ease;
}


.info {
    font-size: 15px;
    border-radius: 20px;
    width: 550px;
    height: 120px;
    align-items: center;
    border-radius: 20px;

    border:2px solid;
    background-color: white;
    border-color: white;
    transition: background-color: 0.3s ease;


}


.userinput:focus,
.userinput:hover,
.info:focus,
.info:hover {
    background-color: #b6b6ee;

}
.orangetext {
    color: rgb(222, 99, 33);
    text-decoration: underline;
}

.submit {
    background-color: rgba(226, 115, 69,1);
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 150px;
}

.submit-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 170px;
    border: none;
    transition: background-color: 0.3s ease;
}

.submit:hover{
    background-color: black;
}