body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-and-check{
    font-weight: bold;
    font-size: 25px;
    margin-right: 40px;
    color: white;
}
.top-header {
    display: flex;
    align-items: center;            /* vertically centered */
    justify-content: center;
    width: 100%;                    /* full page width */
    padding: 15px 20px;              /* slim height + horizontal padding */
    background-color: rgb(11, 11, 66);
    color: rgb(169, 163, 163);
    font-size: 17px;
}

.nav-link, .nav-link-active {
    text-decoration: none;
    color: rgb(255, 249, 249);
    margin-right: 20px;
    padding: 3px 6px;               /* optional for hover effect */
    border-radius: 4px;
}

.nav-link-active{
    text-decoration: underline;
    color:brown;
}

.nav-link:hover {
    background-color: rgba(231, 167, 145, 0.2);
}


.book-session {
    background-color: rgb(247, 194, 80);
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    transition: color 0.3s;
    transition: font-weight 0.3s;
    margin-left: 20px;
    font-weight: bold;
}

.book-session:hover {
    background-color: rgb(245, 245, 245);
    color:rgb(11, 11, 66);
    font-weight:lighter;
}


/*body section*/
.mid-section{
    display: flex;
    margin-top: 60px;
    align-items: center; 
}

.studentpic{
    width: 300px;
    border-radius: 10px;
    border-color:rgb(11, 11, 66);
    border-style:solid;
    margin-left: 100px;
}

.title-and-check-second {
    font-size: 100px;
}