body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    font-size: 28px;
    font-weight: 600;
}

.check {
    font-size: 30px;
    line-height: 1;
}

.brand {
    line-height: 1;
}

.top-header {
    display: flex;
    align-items: center;            /* vertically centered */
    justify-content: space-between;
    height: 72px;
    padding: 0px 20px;              /* slim height + horizontal padding */
    background: linear-gradient(90deg, #0b0b42, #15155c);
    color: rgb(169, 163, 163);
    font-size: 17px; 

}
.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a.active {
    color: #e7a81e;
    text-decoration: underline;
    cursor: pointer;
}


.nav-link:hover {
    background-color: rgba(231, 167, 145, 0.2);
    text-decoration: underline;
}


.book-session button {
    background-color: rgb(231, 168, 30);
    color: rgb(255, 255, 255);

    width: 210px;
    height: 40px;

    font-size: 14px;  
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transition: 
        background-color 0.3s,
        color 0.3s,
        font-weight 0.3s,
        font-family 0.3s,
        font-size 0.3s;

    letter-spacing: 1.5px;
    word-spacing: 2px;
    border: none;
    border-radius: 999px;

    cursor: pointer;

    white-space: nowrap;
    overflow: visible;
}

.book-session button:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(11, 11, 66);
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}


/*body section*/
.mid-section{
    align-items: center; 
    display: flex;
    background-color: rgba(226, 115, 69,1);
    display: flex;
    align-items: center;            /* vertically centered */
    justify-content: center;
    padding: 30px;
}


.studentpic{
    width: 300px;
    border-radius: 10px;
    border-color:rgb(11, 11, 66);
    border-style:solid;
    border-width: 5px;
    background-color: rgb(217, 217, 181);
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px;
    color: white;
}

.title-and-check-second-div{
    display: inline-block;
    text-align: center;
    font-size: 100px;
    margin-bottom: 10px;
}

.check-text{
    font-size: 25px;
    align-items: center;
}

.checkbig {
    font-size: 80px;
    line-height: 0.1;
    margin: 0;
}

.fluentlift {
    font-size: 90px;
    line-height: 1;
    margin: 0;
}
